
@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<p>
	Joel Hilton is a talented filmmaker with a passion for storytelling. He has directed and produced several short films, showcasing his unique vision and creativity. Joel's work often explores themes of love, loss, and the human experience, resonating with audiences on a deep level.
</p>
<p>
	Joel's journey in the film industry began at a young age, and he has honed his skills through years of dedication and hard work. He is known for his attention to detail and ability to bring out the best in his actors, creating memorable performances that leave a lasting impact.
</p>
<p>
	With a keen eye for cinematography and a deep understanding of narrative structure, Joel crafts visually stunning films that captivate viewers. His passion for storytelling is evident in every frame, as he strives to create immersive experiences that transport audiences to different worlds.
</p>
<a href="https://www.qwcomedy.com/" target="_blank">See Joel perform at Quick Qits Comedy</a>
<br />
<a href="https://baconsale.com/" target="_blank">Go to his films and pop culture podcast Baconsale</a>
<br />
<a href="https://baconsale.com/" target="_blank">
   <img src="~/baconsalekate.jpg" alt="Baconsale" />
</a>
