@{
    ViewData["Title"] = "Add to the Collection";
}
@model JoelMovieCollection.Models.Movie
<h1>Add to the collection</h1>
<div>
    @* form to add a new movie *@
	@* asp-for lets us bind the form to the model *@
    <form method="post">
        

        <br />
        <label asp-for="Title">Title</label>
        <input asp-for="Title" required />
        <br />
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" required>
            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <label asp-for="Year">Year</label>
        <input type="number" asp-for="Year" required />
        <br />
        <label asp-for="Director">Director</label>
        <input asp-for="Director" />
        <br />
        @* drop down for rating *@
        @* numbers correspond to ratings *@
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value=1>G</option>
            <option value=2>PG</option>
            <option value=3>PG-13</option>
            <option value=4>R</option>
        </select>
        <br />
        @* drop down for edited boolean *@
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited" required>
            <option value=null></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <label asp-for ="LentTo">Lent To</label>
        <input asp-for="LentTo" />
        <br />
        <label asp-for="CopiedToPlex">CopiedToPlex</label>
        <select asp-for="CopiedToPlex" required>
            <option value="false">No</option>
            <option value="true">Yes</option>        
        </select>
        <br />
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" maxlength="25" />
        <br />
		<button type="submit">Add</button>
    </form>
</div>