
@{
	ViewData["Title"] = "Confirmation";
}
@model JoelMovieCollection.Models.Movie
<h1>Confirmation</h1>
<p>
	Thank you for your submission!
	We've received your movie information for @Model.Title
</p>
<p>
	<a asp-area="" asp-page="/AddMovie">Add Another Movie </a>
</p>
